body{
    margin: 0;
    padding: 0;
    background-color: #333;
    color: white;
}

.container{
    display: flex;
    align-items: center;
    flex-direction: column;
}

h1{
    margin-top: 100px;
}

.drum_container{
    display: flex;
    flex-direction: column;
}

.drum{
    border: 2px solid white;
    background-color: #333;
    color: white;
    font-size: 40px;
    font-weight: bold;
    width: 90px;
    height: 90px;
    margin: 3px;
}

input{
    border: 2px solid white;
    margin-top: 20px;
    width: 282px;
    height: 40px;
}

#tocar{
    font-weight: bold;
    font-size: 15px;
    border: 2px solid white;
    background-color: #333;
    color: white;
    margin-top: 10px;
    width: 290px;
    height: 40px;
}

#gab{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 13px;
    height: 40px;
}

button:hover{
    color: yellow;
    border-color: yellow;
}

#tocar:hover{
    color: yellow;
    border-color: yellow;
}
